.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;

  @include phone {
    width: 100%;
  }

  @include mobile {
    width: 480px;
    padding-right: 20px;
    padding-left: 20px;
  }

  @include tablet {
    width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }

  @include desktop {
    width: 1280px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
