:root {
  // Background colors
  --header-bg-color: #000000;
  --primery-bg-color: #282828;
  // Text colors
  --primary-text-color: #ffffff;
  --secondary-text-color: #f8f8f8;
  --grey-text-color: #b7b7b7;
  // accent color
  --accent-color: #f87719;
}
