:root {
  // Background colors
  --main-bg-color: #111111;
  --main-bg-color-20: rgba(255, 255, 255, 0.2);
  --primary-bg-color: #282828;
  --modal-bg-color: #171717;
  // Text colors
  --primary-text-color: #ffffff;
  --secondary-text-color: #f8f8f8;
  --grey-text-color: #b7b7b7;
  // Others
  --close-icon: var(--secondary-text-color);
  --modal-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  // Hero background
  --hero-bg-mob: linear-gradient(88deg, #0e0e0e 15%, #0e0e0e 60%);
  --hero-bg-tab: url(/src/images/hero/hero-bgd-dark-tablet-1x.png);
  --hero-bg-desk: url(/src/images/hero/hero-bgd-dark-desktop-1x.png);
}
