// Utils
@import './utils/vars';
@import './utils/mixin';

// Base styles
@import './base/common';
@import './base/reset';
@import './base/container';

// Components styles
@import './components/header';
@import './components/hero';
@import './components/weekly-trends';
@import './components/upcoming-this-mounth';
@import './components/footer';

@import './components/gallery';
@import './components/pagination';
@import './components/search';
@import './components/library';
@import './components/scroll-to-top';
@import './components/loader';

// Modal windows
@import './components/modals';
