:root {
  // Background colors
  --header-bg-color: #ffffff;
  --primery-bg-color: #282828;
  // Text colors
  --primary-text-color: #111111;
  --secondary-text-color: #282828;
  --grey-text-color: #595959;
  // accent color
  --accent-color: #f87719;
}