:root {
  // Background colors
  --header-bg-color: #ffffff;
  --header-bg-color-20: rgba(0, 0, 0, 0.2);
  --primary-bg-color: #282828;
  // Text colors
  --primary-text-color: #111111;
  --secondary-text-color: #282828;
  --grey-text-color: #595959;
  --modal-bg-color: #f8f8f8;
  // Others
  --close-icon: var(--secondary-text-color);
}
