/* Switcher */
.switcher {
  position: relative;
  margin: 0;
  padding: 3px;
  width: 38px;
  height: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: none;

  background-image: var(--gradient);
  border-radius: 12px;

  @media only screen and (min-width: 768px) {
    width: 54px;
    height: 20px;
  }
  @media only screen and (min-width: 1280px) {
    width: 60px;
    height: 24px;
  }
}

/* Switcher Legend */
.switcher-legend {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* Switcher Radio */
.switcher-radio {
  appearance: none;
  margin: 0;
  width: 8px;
  height: 8px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  will-change: opacity;
  transition: opacity 250ms ease-in;

  @media only screen and (min-width: 768px) {
    width: 10px;
    height: 10px;
  }
  @media only screen and (min-width: 768px) {
    width: 14px;
    height: 14px;
  }

  &:focus {
    outline: none;
  }
}
.switcher-radio-light {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 13C10.7614 13 13 10.7614 13 8C13 5.23858 10.7614 3 8 3C5.23858 3 3 5.23858 3 8C3 10.7614 5.23858 13 8 13Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.907 3.093L12.998 3.002M3.002 12.998L3.093 12.907M8 1.056V1M8 15V14.944M1.056 8H1M15 8H14.944M3.093 3.093L3.002 3.002M12.998 12.998L12.907 12.907' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

  &:checked {
    transition-delay: 100ms;
    opacity: 0;
  }
}
.switcher-radio-dark {
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.02604 7.77441C1.26766 11.1211 4.20061 13.8439 7.71076 13.9933C10.1873 14.0973 12.4021 12.9796 13.731 11.2185C14.2814 10.4972 13.9861 10.0163 13.0666 10.1788C12.6169 10.2568 12.1538 10.2893 11.6706 10.2698C8.38862 10.1398 5.704 7.48199 5.69058 4.34329C5.68386 3.49851 5.86508 2.69921 6.19394 1.9714C6.55637 1.16561 6.12012 0.782204 5.28117 1.12662C2.62339 2.21184 0.80456 4.80467 1.02604 7.77441Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

  &:checked {
    transition-delay: 100ms;
    opacity: 0;
  }
}

/* Switcher Status */
.switcher-status {
  position: absolute;
  pointer-events: none;

  width: 12px;
  height: 12px;

  @media only screen and (min-width: 768px) {
    width: 16px;
    height: 16px;
  }

  @media only screen and (min-width: 1280px) {
    width: 18px;
    height: 18px;
  }

  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.3761 2.62393C11.8681 -0.884089 6.16958 -0.873235 2.64817 2.64817C-0.873235 6.16958 -0.884088 11.8681 2.62393 15.3761C6.13195 18.8841 11.8304 18.8732 15.3518 15.3518C18.8732 11.8304 18.8841 6.13195 15.3761 2.62393ZM14.6146 3.16427C14.3882 2.92231 14.0085 2.9097 13.7665 3.13611C13.5246 3.36252 13.512 3.74221 13.7384 3.98417C16.3998 6.82848 16.3923 11.4698 13.7142 14.3318C13.4878 14.5738 13.5004 14.9535 13.7424 15.1799C13.9844 15.4063 14.364 15.3937 14.5905 15.1517C17.697 11.8318 17.711 6.47339 14.6146 3.16427Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  will-change: transform;
  transition: transform 250ms ease-in;

  .switcher-radio-light:checked ~ & {
    transform: translateX(100%) rotate(0deg);
  }

  .switcher-radio-dark:checked ~ & {
    transform: translateX(-100%) rotate(-180deg);
  }
}
