:root {
  // accent color
  --accent-color: #f87719;
  // others
  --gradient: linear-gradient(141deg, #ffc226 10%, #f84119 90%);
  --menu-idx: 1000;
  --modal-idn: 100;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// text color black theme
$primary-text-color: #ffffff;
$secondary-text-color: #f8f8f8;
$grey-text-color: #b7b7b7;

// text color white theme
$primary-white-theme: #111111;
$secondary-white-theme: #282828;
$grey-white-theme: #595959;

// accent color
$accent-color: #f87719;

// button
$btn-text-color: #111111;
$btn-bg-liner: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);

// stars
$star-bg-colog: linear-gradient(
  141.22deg,
  #f84119 9.4%,
  rgba(248, 159, 25, 0.68) 91.91%
);

// modal box-shadow
$modal-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
$mobal-shadow-white-theme: 1px 1px 14px 4px rgba(0, 0, 0, 0.22);

// bg color black theme
$header-bg-color: #000000;
$primary-bg-color: #111111;

// bg color white theme
$white-bg-color: #ffffff;

// animation
$time-duration: 250ms;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
