:root {
  --color-title-card:#ffffff;
  --color-subtitle-card:#b7b7b7;
  // accent color
  --accent-color: #f87719;
  // others
  --gradient: linear-gradient(141deg, #ffc226 10%, #f84119 90%);
  --menu-idx: 1000;
  --modal-idn: 100;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
