.backdrop-oops {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 998;
}

.backdrop-oops--hidden {
  opacity: 0;
  pointer-events: none;
}

@include mobile {
  .modal {
    padding: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    width: 280px;
    height: 847px;
    border-radius: 4%;

    background-color: var(--modal-bg-color);
    box-shadow: var(--modal-shadow);
    color: var(--secondary-text-color);
  }
}

@include tablet {
  .modal {
    padding: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    width: 704px;
    height: 488px;
    border-radius: 4%;

    background-color: var(--main-bg-color);
    box-shadow: var(--modal-shadow);
    color: var(--secondary-text-color);
  }
}

@include desktop {
  .modal {
    padding: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    width: 846px;
    height: 598px;
    border-radius: 4%;

    background-color: var(--main-bg-color);
    box-shadow: var(--modal-shadow);
    color: var(--secondary-text-color);
  }
}

.close-modal-oops{
    position: absolute;
    top: 40px;
    right: 40px;
}

.container-content{
    display: flex;
}
