.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 998;
  overflow-y: scroll;
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop--hidden .modal {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.modal {
  padding-left: 16px;
  padding-top: 52px;
  padding-right: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  width: 100%;
  height: 100%;
  border-radius: 4%;

  background-color: var(--main-bg-color);
  box-shadow: var(--modal-shadow);
  color: var(--secondary-text-color);
}

.wrap {
  display: flex;
}

.close-modal {
  color: var(--secondary-text-color);
  background-color: var(--main-bg-color);
  border-color: var(--main-bg-color);
  box-shadow: none;
  border:none;
  position: absolute;
  top: 40px;
  right: 40px;
}

.title {
  margin-bottom: 28px;
  color: var(--primary-text-color);
  font-size: 24px;
}

// .container-image-wrap {
//   max-width: 448px;
//   max-height: auto;
//   overflow: hidden;
// }

.container-image-wrap img{
  margin-bottom: 22px;
  width: 100%;
  height: 100%;
}

.feature-value-description {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 16px;
}

.container-content-wrap {
  width: 331px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.content-wrap {
  display: flex;
  min-width: 89px;
}

.features-values-wrap {
  margin-left: 62px;
  color: var(--primary-text-color);
}

.feature-name {
  white-space: nowrap;
  color: var(--grey-text-color);
  font-size: 16px;
}

.feature-name:not(:last-child) {
  margin-bottom: 13.5px;
}

.feature-value {
  white-space: wrap;
}

.feature-value:not(:last-child) {
  margin-bottom: 16px;
}

.feature-value:last-child {
  margin-bottom: 20px;
}

.feature-name-uppercase {
  text-transform: uppercase;
  margin-bottom: 16px;
}



.add-to-library {
  padding: 11px 23px;
  color: var(--secondary-text-color);
  
  background: var(--btn-gradient) padding-box,
    linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%) border-box;
  border: 1px solid;
  border-color: transparent;
  border-radius: 74px;

  &:hover,
  &:focus {
    padding: 11px 23px;
    color: var(--accent-color);
    
    background: var(--btn-gradient-vice-versa) border-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 74px;
  }
}

@include mobile {

  .close-modal {
    top: 20px;
    right: 16px;
  }

  .wrap {
    flex-direction: column;
  }
}

@include tablet {  
  .backdrop {
    overflow-y: visible;
  }

  .modal {
    padding: 60px;
      max-width: 704px;
      max-height: 488px;
  }

  .container-image-wrap {
    max-width: 294px;
    max-height: 400px;
    overflow: hidden;
  }

  .close-modal {
    top: 24px;
    right: 24px;
  }

  .feature-value:not(:last-child) {
    margin-bottom: 24px;
  }
}

@include desktop {
  .backdrop {
    overflow-y: visible;
  }

  .modal {
    padding: 60px;
      max-width: 846px;
      max-height: 598px;
  }

  .container-image-wrap {
    max-width: 375px;
    max-height: 478px;
    overflow: hidden;
  }
}

