<footer class="footer">
  <p class="footer-container">
      <span class="footer-text">&#169; 2023 | All Rights Reserved | Developed with</span>
      <span class="footer-text-btn">
        <svg class="footer-icon" width="14" height="13">
          <use href="/src/images/svg/sprite.svg#icon-heart"></use>
        </svg>
        <button class="section__button section__button2" type="button" >
          by <span class="footer-underline">GoIT Students</span>
        </button>
      </span>
  </div>
</footer>
