<section class="hero">
  <h2 class="visually-hidden">Films of the day</h2>

  <div class="swiper swiper-container" id="hero-container">
    <div class="swiper-wrapper"></div>

    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <!--! Modal Trigger Button -->
  <!-- <button id="modal-trigger">Open Modal</button> -->

  <!-- !Modal Overlay -->
  <!-- <div id="modal-overlay"> -->
  <!-- !Modal Content -->
  <!-- <div id="modal">
            <h2>Modal Title</h2>
            <p>Modal Content</p> -->
  <!-- !Modal Close Button -->
  <!-- <button id="modal-close">Close</button>
        </div>
    </div> -->
</section>
