<!-- Розмітка мобільного меню -->
<div class="mobile-menu-backdrop js-menu-container" id="mobile-menu">
  <div class="mobile-menu">
    <a class="mobile-menu-logo" href="./index.html">
      <svg class="header-logo-icon" width="32" height="32">
        <use href="./img/icons.svg#logo"></use>
      </svg>
    </a>

    <button class="mobile-menu-close js-close-menu">
      <svg class="mobile-menu-icon" width="24" height="24">
        <use href="./img/icons.svg#close"></use>
      </svg>
    </button>

    <ul class="mobile-menu-list">
      <li class="mobile-menu-item">
        <a href="./index.html" class="mobile-menu-link">HOME</a>
      </li>
      <li class="mobile-menu-item">
        <a href="./catalog.html" class="mobile-menu-link">CATALOG</a>
      </li>
      <li class="mobile-menu-item">
        <a href="./library.html" class="mobile-menu-link">MY LIBRARY</a>
      </li>
    </ul>
  </div>
</div>
