<!-- Розмітка мобільного меню -->
<div class="mobile-menu-backdrop">
  <div class="mobile-menu">
    <a class="mobile-menu__logo" href="index.html">
      <img src="img/logo.png" alt="logo" />
    </a>

    <button class="mobile-menu__close">
      <img src="img/close.png" alt="close" />
    </button>

    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a href="index.html" class="mobile-menu__link">Головна</a>
      </li>
      <li class="mobile-menu__item">
        <a href="about.html" class="mobile-menu__link">Про нас</a>
      </li>
      <li class="mobile-menu__item">
        <a href="catalog.html" class="mobile-menu__link">Каталог</a>
      </li>
    </ul>
  </div>
</div>
