<h2>modal-oops</h2>
<div id="modal-oops">
        <button class="open-modal" type="button" data-modal-oops-open>Open modal Ooops</button>
  <div class="backdrop-oops backdrop-oops--hidden" data-backdrop-oops>
        <div class="modal">
            <button class="close-modal-oops" type="button" data-modal-oops-close>
              <svg width="24px" height="24px">
                <use
                  class="close-modal__icon-close"
                  href="./images/icons/symbol-defs.svg#close-button"
                ></use>
              </svg>
            </button>
            <div class="container-content">
              <p>OOPS...
                We are very sorry!
                But we couldn’t find the trailer.</p>
              <img class="image" src="./images/modalOops.jpg" alt="image-oops">
            </div>
            
        </div>
    </div>
  </div>
</div>
