<!-- <h2>modal-pop-up</h2> -->
<div id="modal-pop-up">
  <!-- <form type="submit" class="form">
      <input class="film-id" type="text" placeholder="Type film ID" name="searchQuery">
      <button class="fetch-detail-info" type="submit" data-modal-open>Open modal</button>
  </form> -->
  <div class="backdrop backdrop--hidden" data-backdrop>
      <div class="modal">
        <button class="close-modal" type="button" data-close-modal>
          <svg width="10.5px" height="10.5px">
            <use
              class="close-modal__icon-close"
              href="./images/icons/symbol-defs.svg#close-button"
            ></use>
          </svg>
        </button>
            <!-- <svg>
              <use href="./images/icons/symbol-defs.svg#add-to-library"></use>
            </svg> -->
          </button>
          <div class="wrap">
          </div>
      </div>
  </div>
  </div>
  