<!-- <h2>modal-team</h2>
<div id="modal-team"></div> -->
<!-- About team -->
<section class="section">
  <button class="footer-btn footer-btn2">GoIT Students</button>
</section>
<div class="modal modal1">
  <div class="modal__main"></div>
</div>

<!--Team -->
<div class="modal-footer modal2">
  <div class="modal__main">
    <h2 class="modal__title">Our team :</h2>
    <div class="modal__container">
      <ul class="team__list">
        <li class="team__item">
          <img
            src="https://avatars.githubusercontent.com/u/115625550?v=4"
            alt="Team lead"
            width="150px"
            height="150px"
          />
          <div class="team__item-box">
            <h3 class="title">Nikolay Maloshenko</h3>
            <p class="team__text">Team-leader</p>
          </div>
          <ul class="icon__list">
            <li class="icon__item">
              <a class="icon-link" href="https://github.com/Nikolay96UA">
                <svg width="20" height="20">
                  <use href="/src/img/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="icon__item">
              <a class="icon-link" href="">
                <svg width="20" height="20">
                  <use href="/src/img/icons.svg#icon-linkedin2"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="team__item">
          <img
            src="https://avatars.githubusercontent.com/u/112804701?v=4"
            alt="Scrum-master"
            width="150px"
            height="150px"
          />
          <div class="team__item-box">
            <h3 class="title">Vadim Borovec</h3>
            <p class="team__text">Scrum-master</p>
          </div>
          <ul class="icon__list">
            <li class="icon__item">
              <a class="icon-link" href="https://github.com/VadBorovec">
                <svg width="20" height="20">
                  <use href="/src/img/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="icon__item">
              <a
                class="icon-link"
                href="https://www.linkedin.com/in/vadymborovets/"
              >
                <svg width="20" height="20">
                  <use href="/src/img/icons.svg#icon-linkedin2"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="team__item">
          <img
            src="https://avatars.githubusercontent.com/u/88747340?v=4"
            alt="Developer"
            width="150px"
            height="150px"
          />
          <div class="team__item-box">
            <h3 class="title">Dmytro Miroshnychenko</h3>
            <p class="team__text">Developer</p>
          </div>
          <ul class="icon__list">
            <li class="icon__item">
              <a
                class="icon-link"
                href="https://avatars.githubusercontent.com/u/88747340?v=4"
              >
                <svg width="20" height="20">
                  <use href="/src/img/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="icon__item">
              <a
                class="icon-link"
                href="https://www.linkedin.com/in/дмитрий-мирошниченко-5b7b13116"
              >
                <svg width="20" height="20">
                  <use href="/src/img/icons.svg#icon-linkedin2"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="team__item">
          <img
            src="https://avatars.githubusercontent.com/u/115614039?v=4"
            alt="Developer"
            width="150px"
            height="150px"
          />
          <div class="team__item-box">
            <h3 class="title">Yuri Yatsenko</h3>
            <p class="team__text">Developer</p>
          </div>
          <ul class="icon__list">
            <li class="icon__item">
              <a class="icon-link" href="https://github.com/YuriiYatsenko">
                <svg width="20" height="20">
                  <use href="/src/img/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="icon__item">
              <a class="icon-link" href="#">
                <svg width="20" height="20">
                  <use href="/src/img/icons.svg#icon-linkedin2"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="team__item">
          <img
            src="https://avatars.githubusercontent.com/u/112972483?v=4"
            alt="Developer"
            width="150px"
            height="150px"
          />
          <div class="team__item-box">
            <h3 class="title">Vitaliu Tokman</h3>
            <p class="team__text">Developer</p>
          </div>
          <ul class="icon__list">
            <li class="icon__item">
              <a class="icon-link" href="https://github.com/Vital3414">
                <svg width="20" height="20">
                  <use href="/src/img/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="icon__item">
              <a class="icon-link" href="#">
                <svg width="20" height="20">
                  <use href="/src/img/icons.svg#icon-linkedin2"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="team__item">
          <img
            src="https://avatars.githubusercontent.com/u/111919857?v=4"
            alt="Developer"
            width="150px"
            height="150px"
          />
          <div class="team__item-box">
            <h3 class="title">Artur Salakhutdinov</h3>
            <p class="team__text">Developer</p>
          </div>
          <ul class="icon__list">
            <li class="icon__item">
              <a class="icon-link" href="https://github.com/ArturS2307">
                <svg width="20" height="20">
                  <use href="/src/img/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="icon__item">
              <a class="icon-link" href="#">
                <svg width="20" height="20">
                  <use href="/src/img/icons.svg#icon-linkedin2"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="team__item">
          <img
            src="https://ca.slack-edge.com/T04HC3SKKV3-U04KSEJ7NG2-3b8dbc030740-512"
            alt="Developer"
            width="150px"
            height="150px"
          />
          <div class="team__item-box">
            <h3 class="title">Denis Prohorchuk</h3>
            <p class="team__text">Developer</p>
          </div>
          <ul class="icon__list">
            <li class="icon__item">
              <a class="icon-link" href="#">
                <svg width="20" height="20">
                  <use href="/src/img/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="icon__item">
              <a class="icon-link" href="#">
                <svg width="20" height="20">
                  <use href="/src/img/icons.svg#icon-linkedin2"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="team__item">
          <img
            src="https://ca.slack-edge.com/T04HC3SKKV3-U04KPJERU8H-g7e0a2fea511-512"
            alt="Developer"
            width="150px"
            height="150px"
          />
          <div class="team__item-box">
            <h3 class="title">Konstyantyn Umanec</h3>
            <p class="team__text">Developer</p>
          </div>
          <ul class="icon__list">
            <li class="icon__item">
              <a class="icon-link" href="#">
                <svg width="20" height="20">
                  <use href="/src/img/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="icon__item">
              <a class="icon-link" href="#">
                <svg width="20" height="20">
                  <use href="/src/img/icons.svg#icon-linkedin2"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="team__item">
          <img
            src="https://ca.slack-edge.com/T04HC3SKKV3-U0561HM0FA7-gb7ba503209d-512"
            alt="Developer"
            width="150px"
            height="150px"
          />
          <div class="team__item-box">
            <h3 class="title">Yaroslav Kositsia</h3>
            <p class="team__text">Developer</p>
          </div>
          <ul class="icon__list">
            <li class="icon__item">
              <a class="icon-link" href="#">
                <svg width="20" height="20">
                  <use href="/src/img/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="icon__item">
              <a class="icon-link" href="#">
                <svg width="20" height="20">
                  <use href="/src/img/icons.svg#icon-linkedin2"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <button class="modal__close">&#10006;</button>
  </div>
</div>
