<div class="trailer-modal__backdrop js-backdrop-trailer">
    <div class="trailer-modal js-theme">
        <div class="trailer-wrapper">
            <button class="trailer-modal__button-colse js-theme" type="button" data-action="close-trailer-modal">
                &#128929;
            </button>

            <div class="trailer-modal__content">
                <div class="no-movie-container trailer-is-hidden">
                    <div class="no-video-msg">
                        <p>OOPS...</p>
                        <p>We are very sorry!</p>
                        <p>But we couldn’t find the trailer.</p>
                    </div>
                    <div class="no-trailer-img">
                        <img src="./images/modalOops.jpg" alt="No Trailer" />
                    </div>
                </div>
                <div class="trailer-container js-theme">
                    <iframe class="iframe-trailer" title="YouTube video player"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>