<h2>search-movies</h2>
<div class="container">
  <section id="search-movies">
    <form class="search-form">
      <input type="text" id="searchInput" name="keyword" placeholder="Film" />
      <select id="yearSelect" name="yearSelect">
        <option value="">Year</option>
        <option value="2022">2022</option>
        <option value="2021">2021</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
        <option value="2017">2017</option>
        <option value="2016">2016</option>
        <option value="2015">2015</option>
      </select>
      <select id="genreSelect" name="genreSelect">
        <option value="">Genre</option>
        <option value="28">Action</option>
        <option value="16">Animation</option>
        <option value="99">Documentary</option>
        <option value="18">Drama</option>
        <option value="10751">Family</option>
        <option value="14">Fantasy</option>
        <option value="36">History</option>
        <option value="35">Comedy</option>
        <option value="80">Crime</option>
        <option value="27">Horror</option>
        <option value="10402">Music</option>
        <option value="9648">Mystery</option>
        <option value="10749">Romance</option>
        <option value="878">Science Fiction</option>
        <option value="10770">TV Movie</option>
        <option value="53">Thriller</option>
        <option value="10752">War</option>
        <option value="37">Western</option>
      </select>
      <select id="countrySelect" name="countrySelect">
        <option value="">Country</option>
        <option value="US">United States</option>
        <option value="GB">United Kingdom</option>
        <option value="CA">Canada</option>
        <option value="AU">Australia</option>
        <option value="FR">France</option>
        <option value="DE">Germany</option>
        <option value="JP">Japan</option>
        <option value="IN">India</option>
        <option value="CN">China</option>
      </select>
      <button type="submit" id="searchBtn"><svg width="20" height="20" <symbol id="icon-search-movi"
          viewBox="0 0 32 32">
          <path fill="none" stroke="#fff" style="stroke: var(--color1, #fff)" stroke-linejoin="round"
            stroke-linecap="round" stroke-miterlimit="4" stroke-width="2.0800"
            d="M14.667 25.333c5.891 0 10.667-4.776 10.667-10.667s-4.776-10.667-10.667-10.667c-5.891 0-10.667 4.776-10.667 10.667s4.776 10.667 10.667 10.667z">
          </path>
          <path fill="none" stroke="#fff" style="stroke: var(--color1, #fff)" stroke-linejoin="round"
            stroke-linecap="round" stroke-miterlimit="4" stroke-width="2.0800" d="M28 28l-5.8-5.8"></path>
          </symbol>
        </svg></button>
    </form>
  </section>
</div>