<h2 class="invisible-title">search-movies</h2>
<section class="search ">
  <div class="container">
    <form class="search-form">
      <input type="text" class="searchInput" name="keyword" placeholder="Film" />
      <select class="yearSelect" name="yearSelect" placeholder="Film">
        <option>Year</option>
        <option value="2022">2022</option>
        <option value="2021">2021</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
        <option value="2017">2017</option>
        <option value="2016">2016</option>
        <option value="2015">2015</option>
      </select>
      <select class="genreSelect" name="genreSelect">
        <option value="">Genre</option>
        <option value="10749">Romance</option>
        <option value="80">Detective</option>
        <option value="53">Thriller</option>
        <option value="28">Action</option>
        <option value="99">Documentary</option>
        <option value="27">Horror</option>
      </select>
      <select class="countrySelect" name="countrySelect">
        <option value="">Country</option>
        <option value="US">USA</option>
        <option value="GB">Great Britain</option>
        <option value="FR">France</option>
        <option value="DE">Germany</option>
        <option value="ES">Spain</option>
        <option value="MX">Mexico</option>
      </select>
      <button type="submit" id="searchBtn"><svg width="20" height="20" <symbol id="icon-search-movi"
          viewBox="0 0 32 32">
          <path fill="none" stroke="#fff" style="stroke: var(--color1, #fff)" stroke-linejoin="round"
            stroke-linecap="round" stroke-miterlimit="4" stroke-width="2.0800"
            d="M14.667 25.333c5.891 0 10.667-4.776 10.667-10.667s-4.776-10.667-10.667-10.667c-5.891 0-10.667 4.776-10.667 10.667s4.776 10.667 10.667 10.667z">
          </path>
          <path fill="none" stroke="#fff" style="stroke: var(--color1, #fff)" stroke-linejoin="round"
            stroke-linecap="round" stroke-miterlimit="4" stroke-width="2.0800" d="M28 28l-5.8-5.8"></path>
          </symbol>
        </svg></button>
    </form>
</section>
</div>
</section>