.footer {
    color: $grey-text-color;
    background: $primary-white-theme;
}

.footer-container {
    flex-wrap: wrap;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    padding: 28px 35px;

    @media screen and (min-width: 768px) {
        padding: 28px 0;
        font-size: 16px;
        line-height: 1.17;
    }
}

    .footer-text {
        flex-wrap: wrap;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 18.75px;
    }

    .footer-link {
        display: inline-block;
        margin: 0 5px;
        transition: transform;
    
        &:hover,
        &:focus {
            transform: scale(1.2);
        }
    }

    .footer-text-btn {
        font-weight: 400;
        font-size: 16px;
        line-height: 18.75px;
    }

    .footer-icon {
        color: $accent-color;
        margin-left: 5px;
    }

    .footer-btn {
        font-size: 14px;
        line-height: 18.75px;
        font-weight: 400;
        font-family: inherit;
        text-align: center;
        border: none;
        color: inherit;
        background-color: inherit;
        cursor: pointer;
        transition: transform;
    
        &:hover,
        &:focus {
            transform: scale(1.1);
        }
    }

    .footer-underline {
        text-decoration: underline;
    }

