.footer {
  padding: 28px 0;

  @media only screen and (min-width: 768px) {
    padding: 40px 0;
  }
  @media only screen and (min-width: 1280px) {
    padding: 80px 0;
  }
}
.footer-container {
  text-align: center;
}
.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

  color: var(--grey-text-color);

  @media only screen and (max-width: 767.98px) {
    font-size: 14px;
  }
}
.footer-icon {
  fill: var(--accent-color);
}
.footer-btn {
  padding: 0;
  background-color: transparent;
  border: none;

  text-decoration: underline;
  color: inherit;
}