.footer {
    $grey-text-color:#B7B7B7;
    $primery-bg-color:#282828;
}

.footer__container {
    flex-wrap: wrap;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;

    padding: 28px 35px;

    @media screen and (min-width: 768px) {
        padding: 28px 0;
        font-size: 16px;
        line-height: 1.17;
    }
}

.footer__text {
    flex-wrap: wrap;
    text-align: center;
    font-size: 14px;
    line-height: 1.14;
}

.footer__link {
    display: inline-block;
    margin: 0 5px;
    transition: transform;

    &:hover,
    &:focus {
        transform: scale(1.2);
    }
}

.footer__text-btn {
    font-size: 14px;
    line-height: 1.14;
    @media screen and (max-width: 767px) {
        margin-top: 10px;
    }

    @media screen and (min-width: 768px) {
        margin-left: 5px;
    }
}
.footer__icon-heart {
    $accent-color: #F87719;
    // margin: 0px 8px;
}

.by {
    margin-left: 5px;
}

.footer__btn {
    text-decoration: underline;
    line-height: 1.14;
    text-align: center;
    border: none;
    color: inherit;
    cursor: pointer;
    //transition: transform;

    &:hover,
    &:focus {
        transform: scale(1.1);
        //$btn-bg-liner:  #FFC226;
    }
}