.library__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19em;
  color: #fff;
  max-width: 235px;
  @include tablet {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.18em;
    max-width: 320px;
  }
  @include desktop {
    max-width: 464px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.17em;
  }
}
.library__title-wrapper {
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 8px;
  @include tablet {
    padding-top: 62px;
    padding-left: 32px;
  }
  @include desktop {
    padding-top: 169px;
    padding-left: 117px;
    padding-bottom: 16px;
  }
}
.library__text-wrapper {
  padding-left: 20px;
  @include tablet {
    padding-left: 32px;
  }
  @include desktop {
    padding-left: 117px;
  }
}
.library__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14em;
  width: 249px;
  height: 112px;
  color: #fff;
  @include tablet {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14em;
    width: 357px;
  }
  @include desktop {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 464px;
  }
}
.library__content {
  display: block;
  background-image: linear-gradient(
      83.48deg,
      #0e0e0e 25.78%,
      rgba(14, 14, 14, 0) 60.07%
    ),
    url('/src/img/hero-bg-mobile1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  max-width: 100%;
  height: 360px;
  margin-bottom: 44px;
  @include retina {
    background-image: linear-gradient(rgba(14, 14, 14, 0), rgba(14, 14, 14, 0)),
      url('/src/img/hero-bg-mobile2x.jpg');
  }
  @include tablet {
    background-image: linear-gradient(rgba(14, 14, 14, 0), rgba(14, 14, 14, 0)),
      url('/src/img/Hero-bg-tablet1x.jpg');
    height: 372px;
    margin-bottom: 80px;
    @include retina {
      background-image: linear-gradient(
          rgba(14, 14, 14, 0),
          rgba(14, 14, 14, 0)
        ),
        url('/src/img/Hero-bg-tablet2x.jpg');
    }
  }
  @include desktop {
    background-image: linear-gradient(rgba(14, 14, 14, 0), rgba(14, 14, 14, 0)),
      url('/src/img/Hero-bg-desctop1x.jpg');
    margin-bottom: 160px;
    height: 660px;
    @include retina {
      background-image: linear-gradient(
          rgba(14, 14, 14, 0),
          rgba(14, 14, 14, 0)
        ),
        url('/src/img/Hero-bg-desctop2x.jpg');
    }
  }
}
.library__error-message {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4em;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: var(--primary-text-color);
  @include tablet {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.33em;
  }
  @include desktop {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.12em;
  }
}
.error-line {
  margin: 0;
}
.container-button {
  text-align: center;
  background-color: transparent;
  padding-top: 20px;
  @include tablet {
    padding-top: 24px;
  }
  @include desktop {
    padding-top: 28px;
  }
}
.search-button {
  display: inline-block;
  padding: 10px 20px;
  background-image: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  color: #111;
  text-decoration: none;
  border-radius: 74px;
}
.search-button:hover {
  background-color: transparent;
}
.movie {
  width: 100%;
  // margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-sizing: border-box;
  @include tablet {
    width: calc(33.33% - 10px);
  }
  @include desktop {
    width: calc(33.33% - 10px);
  }
  &.last-in-row {
    margin-right: 0;
  }
}

.lib-gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  @include mobile {
    display: block;
  }
}
.lib-gallery-item {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 224px;
  height: 335px;
  cursor: pointer;
  transition: scale 200ms linear, box-shadow 200ms linear;
  @include mobile {
    // display: block;
    width: 100%;
    height: 406px;
    margin-right: 0;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 100%;
    height: 335px;
    margin-right: 16px;
    margin-bottom: 28px;
    // flex-basis: calc((100% - 32px) / 3);
  }
  @include tablet {
    width: 224px;
    height: 325px;
    margin-right: 16px;
    margin-bottom: 28px;
    // flex-basis: calc((100% - 32px) / 3);
  }
  @include desktop {
    width: 395px;
    height: 574px;
    margin-right: 15px;
    margin-bottom: 32px;
    // flex-basis: calc((100% - 31px) / 3);
  }
  &:hover,
  &:focus {
    scale: 1.03;
    box-shadow: 1px 1px 14px var(--primary-text-color);
  }
}
.lib-gallery > .lib-gallery-item:nth-child(3n) {
  margin-right: 0;
}
.lib-gallery > .lib-gallery-item:nth-last-child(-n + 1) {
  @include mobile {
    margin-bottom: 20px;
  }
  @include tablet {
    margin-bottom: 44px;
  }
  @include desktop {
    margin-bottom: 60;
  }
}
.lib-gallery-item__about {
  position: absolute;
  @include mobile {
    width: 60%;
    left: 12px;
    bottom: 12px;
  }
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 130px;
    left: 12px;
    bottom: 12px;
  }
  @include tablet {
    width: 130px;
    left: 12px;
    bottom: 12px;
  }
  @include desktop {
    width: 245px;
    left: 20px;
    bottom: 20px;
  }
}
.lib-gallery-item__about__title,
.lib-gallery-item__about__p {
  @include mobile {
    font-size: 12px;
    line-height: 1.67;
  }
  @include tablet {
    font-size: 12px;
    line-height: 1.5;
  }
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.5;
  }
  color: var(--color-title-card);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.17;
}
.lib-gallery-item__about__p {
  color: var(--color-subtitle-card);
  text-transform: none;
}
// .for-img {
//   width: 395px;
//   height: 574px;
// }
.vote-cinemas {
  position: absolute;
  // pointer-events: none; used for input, but now this is div
  @include mobile {
    width: 86px;
    height: 14px;
    right: 12px;
    bottom: 16px;
  }
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 66px;
    height: 10px;
    right: 12px;
    bottom: 16px;
  }
  @include desktop {
    width: 106px;
    height: 18px;
    right: 20px;
    bottom: 20px;
  }
}
.card-img {
  width: 100%;
  height: auto;
}
