// .container {
//   margin: 0;
//   max-width: 479px;
//   min-width: 320px;
// }

.library__title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  padding: 40px 0 8px 20px;
  font-size: 32px;
  width: 235px;
  height: 76px;
  margin: 0;
  @media screen and (min-width: 480px) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.18em;
    width: 325px;
    padding: 62px 0 8px 32px;
  }
  @media screen and (min-width: 768px) {
    max-width: 464px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.17em;
  }
}

.library__text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 14px;
  padding: 8px 0 0 20px;
  width: 249px;
  height: 112px;
  margin: 0;
  @media screen and (min-width: 480px) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14em;
    width: 357px;
  }
  @media screen and (min-width: 768px) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 464px;
  }
}

// .library__content {
//   gap: 8px;
//   background-image: linear-gradient(rgba(14, 14, 14, 0), rgba(14, 14, 14, 0)),
//     url('/img/hero-bg-mobile1x.jpg');
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: bottom;
//   min-height: 380px;
//   min-width: 320px;
//   @media (min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {
//     background-image: linear-gradient(rgba(14, 14, 14, 0), rgba(14, 14, 14, 0)),
//       url('/img/Hero-bg-mobile2x.jpg');
//   }
//   @media screen and (max-width: 767px) {
//     background-image: linear-gradient(rgba(14, 14, 14, 0), rgba(14, 14, 14, 0)),
//       url('/img/Hero-bg-tablet1x.jpg');
//     min-width: 480px;
//     max-width: 464px;
//     min-height: 372px;
//     @media (min-device-pixel-ratio: 2),
//       (min-resolution: 192dpi),
//       (min-resolution: 2dppx) {
//       background-image: linear-gradient(
//           rgba(14, 14, 14, 0),
//           rgba(14, 14, 14, 0)
//         ),
//         url('/img/Hero-bg-tablet2x.jpg');
//     }
//   }
//   @media screen and (min-width: 768px) {
//     background-image: linear-gradient(rgba(14, 14, 14, 0), rgba(14, 14, 14, 0)),
//       url('/img/Hero-bg-desctop1x.jpg');
//     min-width: 1280px;
//     min-height: 660px;
//     @media (min-device-pixel-ratio: 2),
//       (min-resolution: 192dpi),
//       (min-resolution: 2dppx) {
//       background-image: linear-gradient(
//           rgba(14, 14, 14, 0),
//           rgba(14, 14, 14, 0)
//         ),
//         url('/img/Hero-bg-desctop2x.jpg');
//     }
//   }
// }
