.in-section {
  padding-top: 40px;
  padding-bottom: 22px;

  background-repeat: no-repeat;
  background-position: top center;
  background-size: 320px 380px, 480px 380px, 100% 380px;

  background-image: linear-gradient(84deg, #0e0e0e 25%, rgba(14, 14, 14, 0) 60%),
    url('../images/hero-library/bg-mob@1x.jpg'), linear-gradient(#0e0e0e, #0e0e0e);

  @include retina {
    background-image: linear-gradient(84deg, #0e0e0e 25%, rgba(14, 14, 14, 0) 60%),
      url('../images/hero-library/bg-mob@2x.jpg'), linear-gradient(#0e0e0e, #0e0e0e);
  }

  @include tablet {
    padding-top: 62px;
    padding-bottom: 20px;
    background-size: 768px 370px, 768px 370px, 100% 370px;

    background-image: linear-gradient(84deg, #0e0e0e 25%, rgba(14, 14, 14, 0) 60%),
      url('../images/hero-library/bg-tab@1x.jpg'), linear-gradient(#0e0e0e, #0e0e0e);
    @include retina {
      background-image: linear-gradient(84deg, #0e0e0e 25%, rgba(14, 14, 14, 0) 60%),
        url('../images/hero-library/bg-tab@2x.jpg'), linear-gradient(#0e0e0e, #0e0e0e);
    }
  }

  @include desktop {
    padding-top: 169px;
    padding-bottom: 28px;
    background-size: 1280px 660px, 1280px 660px, 100% 660px;

    background-image: linear-gradient(84deg, #0e0e0e 25%, rgba(14, 14, 14, 0) 60%),
      url('../images/hero-library/bg-desk@1x.jpg'), linear-gradient(#0e0e0e, #0e0e0e);
    @include retina {
      background-image: linear-gradient(84deg, #0e0e0e 25%, rgba(14, 14, 14, 0) 60%),
        url('../images/hero-library/bg-desk@2x.jpg'), linear-gradient(#0e0e0e, #0e0e0e);
    }
  }
}

.library__hero {
  max-width: 249px;
  padding-bottom: 144px;

  @include tablet {
    max-width: 357px;
    padding-bottom: 118px;
  }

  @include desktop {
    max-width: 464px;
    padding-bottom: 249px;
    margin-left: 117px;
  }
}
.library__title {
  margin-bottom: 8px;

  font-size: 32px;
  line-height: 1.19;
  color: #fff;

  @include tablet {
    font-size: 44px;
  }
  @include desktop {
    margin-bottom: 16px;
    font-size: 64px;
  }
}
.library__description {
  font-size: 14px;
  line-height: 1.14;
  color: #fff;

  @include desktop {
    font-size: 16px;
    line-height: 19px;
  }
}
.library__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 28px 16px;
  margin-top: 44px;

  @include tablet {
    margin-top: 80px;
  }
  @include desktop {
    gap: 32px 16px;
    margin-top: 160px;
  }
}
.library__card {
  position: relative;
  display: flex;
  flex-basis: 100%;
  padding: 12px;

  background-size: cover;
  background-repeat: no-repeat;

  cursor: pointer;
  transition: scale 200ms linear, box-shadow 200ms linear;

  @include mobile {
    height: 406px;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
  }
  @include tablet {
    flex-basis: calc((100% - 16px * 2) / 3);
    height: 325px;
  }
  @include desktop {
    flex-basis: calc((100% - 16px * 2) / 3);
    height: 574px;
  }
  &:hover,
  &:focus {
    scale: 1.03;
    box-shadow: 1px 1px 14px var(--primary-text-color);
  }
}
.library__message {
  margin-top: 44px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: var(--primary-text-color);

  @include tablet {
    font-size: 24px;
    line-height: 1.33;
  }
  @include desktop {
    font-size: 32px;
    line-height: 1.12;
  }
}

.container-button {
  text-align: center;
  background-color: transparent;
  padding-top: 20px;
  @include tablet {
    padding-top: 24px;
  }
  @include desktop {
    padding-top: 28px;
  }
}
.search-button {
  display: inline-block;
  padding: 10px 20px;
  background-image: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  color: #111;
  text-decoration: none;
  border-radius: 74px;
}
.search-button:hover {
  background-color: transparent;
}

.library__about {
  margin-top: auto;

  @include mobile {
    width: 130px;
  }
  @include tablet {
    width: 130px;
  }
  @include desktop {
    width: 245px;
  }
}
.lib-gallery-item__about__title,
.lib-gallery-item__about__p {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: var(--color-title-card);
  text-transform: uppercase;

  @include tablet {
    font-size: 12px;
    line-height: 1.5;
  }
  @include desktop {
    font-size: 20px;
    line-height: 1.17;
  }
}
.lib-gallery-item__about__p {
  color: var(--color-subtitle-card);
  text-transform: none;
}
.vote-cinemas {
  position: absolute;
  // pointer-events: none; used for input, but now this is div
  @include mobile {
    width: 86px;
    height: 14px;
    right: 12px;
    bottom: 16px;
  }
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 66px;
    height: 10px;
    right: 12px;
    bottom: 16px;
  }
  @include desktop {
    width: 106px;
    height: 18px;
    right: 20px;
    bottom: 20px;
  }
}
.card-img {
  width: 100%;
  height: auto;
}
