// ======================================================
// клас .container загальний не забувайте про це
// ======================================================
// .container {
//   margin: 0;
//   max-width: 479px;
//   min-width: 320px;
// }

.library__title {
  width: 235px;
  padding: 40px 0 8px 20px;

  font-size: 32px;
  color: #fff;

  @media screen and (min-width: 480px) {
    width: 325px;
    padding: 62px 0 8px 32px;
    font-size: 44px;
    line-height: 1.18em;
  }
  @media screen and (min-width: 768px) {
    max-width: 464px;

    font-weight: 700;
    font-size: 64px;
    line-height: 1.17;
  }
}

.library__text {
  width: 249px;
  padding: 8px 0 0 20px;

  font-size: 14px;
  color: #fff;

  @media screen and (min-width: 480px) {
    width: 357px;
    font-size: 14px;
    line-height: 1.14;
  }
  @media screen and (min-width: 768px) {
    width: 464px;
    font-size: 16px;
    line-height: 1.18;
  }
}

.library__content {
  gap: 8px;
  // background-image: linear-gradient(rgba(14, 14, 14, 0), rgba(14, 14, 14, 0)),
  //   url('/src/images/hero-bg-mobile1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 380px;
  min-width: 320px;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    //   background-image: linear-gradient(rgba(14, 14, 14, 0), rgba(14, 14, 14, 0)),
    //     url('/src/images/Hero-bg-mobile2x.jpg');
  }
  @media screen and (max-width: 767px) {
    // background-image: linear-gradient(rgba(14, 14, 14, 0), rgba(14, 14, 14, 0)),
    //   url('/src/images/Hero-bg-tablet1x.jpg');
    /* min-width: 480px; */
    max-width: 464px;
    min-height: 372px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      // background-image: linear-gradient(
      //     rgba(14, 14, 14, 0),
      //     rgba(14, 14, 14, 0)
      //   ),
      //   url('/src/images/Hero-bg-tablet2x.jpg');
    }
  }
  @media screen and (min-width: 768px) {
    // background-image: linear-gradient(rgba(14, 14, 14, 0), rgba(14, 14, 14, 0)),
    //   url('/src/images/Hero-bg-desctop1x.jpg');
    min-width: 1280px;
    min-height: 660px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      // background-image: linear-gradient(
      //     rgba(14, 14, 14, 0),
      //     rgba(14, 14, 14, 0)
      //   ),
      //   url('/src/images/Hero-bg-desctop2x.jpg');
    }
  }
}
