.pagination {
  background-color: black;
}
.tui-pagination {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: inherit;
  gap: 16px;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid $grey-text-color;
  border-radius: 50%;
  color: $grey-text-color;
}
.curr-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: $primary-text-color;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  // box-shadow: 1px 1px 14px rgba(1, 1, 1, 0.25);
}
.tui-first {
  display: none;
}
.tui-last {
  display: none;
}
.tui-prev,
.tui-next {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tui-ico-prev,
.tui-ico-next {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.9375 6.125L10.0625 14L17.9375 21.875' stroke='%23F8F8F8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 0;
}
.tui-is-disabled .tui-ico-prev,
.tui-is-disabled .tui-ico-next {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.9375 6.125L10.0625 14L17.9375 21.875' stroke='%23B7B7B7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.tui-ico-next,
.tui-is-disabled .tui-ico-next {
  transform: rotate(180deg);
}

.tui-ico-ellip {
  color: $grey-text-color;
}
