.search {
  background-color: $primary-bg-color;
  padding: 60px 32px 36px;
}

#searchBtn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  cursor: pointer;
  margin-left: 10px;
  color: $primary-text-color;
  fill: $primary-text-color;
}

.search-form {
  width: 100%;
  background-color: $primary-bg-color;

  & select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid $primary-text-color;
  background-color: $primary-bg-color;
  border-radius: 8px;
  margin-right: 10px;
  }

  & .years-select{
  color: $primary-text-color;
  width: 95px;
  }

  & .genre-select{
  color: $primary-text-color;
  width: 260px;
  }

  & .country-select{
  color: $primary-text-color;
  width: 281px;
  }

}


.search-input {
  background-color: $primary-bg-color;
  height: 48px;
  width: 315px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid $primary-text-color;
  border-radius: 8px;
  margin-right: 10px;
  color : $primary-text-color;
  background: rgba(0,0,0,0);
}

// .iconsearch {
//   display: inline-block;
//   width: 13px;
//   height: 13px;
//   stroke-width: 0;
//   stroke: currentColor;
//   fill: currentColor;
// }