.search {
  background-color: var(
    --primary-bg-color
  ); //background-color: $primary-bg-color;
  padding: 80px 0 48px 0;
}

.search-form {
  font-size: 16px;
  line-height: 1.19;

  & select {
    height: 48px;
    padding: 12px 20px;
    margin-right: 20px;
    border: 1px solid $primary-text-color;
    border-radius: 8px;
    background-color: $primary-bg-color;
    color: $grey-text-color;
    transition: opacity 500ms linear;
  }
  & .search-input {
    height: 48px;
    width: 334px;
    padding: 14px 24px;
    margin-right: 20px;
    background-color: $primary-bg-color;
    border: 1px solid $primary-text-color;
    border-radius: 8px;
    color: $grey-text-color;
    font-size: 16px;
    line-height: 1.19;
    background: rgba(0, 0, 0, 0);
    transition: opacity 500ms linear;
    &search-input::placeholder {
      color: $grey-text-color;
    }
  }

  & .years-select {
    width: 95px;
  }

  & .genre-select {
    width: 260px;
  }

  & .country-select {
    width: 281px;
    margin-right: 24px;
  }
}

.search-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  cursor: pointer;
  transition: opacity 500ms linear;
}

.input__is-hidden {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
.input__is-shown {
  position: relative;
  opacity: 1;
  pointer-events: all;
}
.form-single {
  display: flex;
  justify-content: center;
  align-items: center;
}
