.search {
  background-color: #111;
}

// .search-movies {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   background-color: #111;
//   width: 100%;
// }

#searchBtn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  color: #fff;
  cursor: pointer;
}

.search-form {
  width: 100%;

  & select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #111;
  }

  & .yearSelect {
  color: #fff; /* Базовый цвет текста */

    & option.value {
  color: #000; /* Цвет текста первого элемента */
}

&:hover {
  color: #f87719; /* Цвет текста при ховере и фокусе */
}
}

  & .genreSelect{
  width: 260px;
  }

  & .countrySelect{
  width: 281px;
  }

}

.searchInput {
  background-color: #111;
  height: 48px;
  width: 315px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 10px;
  color: #fff
}