.team-member {
    width: 300px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 12px;

    .team-member__img {
        border-radius: 12px 12px 0 0;
        display: block;
        margin-bottom: 30px;
        width: 300px;
        height: 300px;
        object-fit: cover;
        @media screen and (min-width: $desktop) {
            
        }
    }

    .team-member__title {
        margin-bottom: 10px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
    }

    .team-member__text {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
    }
}

.team-social {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    margin: 0 auto;
    &__item {
        &:not(:last-child) {
            margin-right: 15px;
        }
    }
    .team-social__link {
        display: block;
        // padding: 12px;
        
    }
}

.team-social__icon {
    font-size: 20px;
    color: $orangeColor;
    @include transition(fill);

    .team-social__link:hover &,
    .team-social__link:focus & {
        color: #fff;
    }
}

.swiper {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    margin: 0 25px;
    @include transition(transform);
}

.swiper-pagination-bullet{
width: 20px;
height: 20px;
line-height: 20px;
font-size: 14px;
background-color: $whiteColor;

&-active-main {
    background-color: #F87719;;
}
}


