body{
    background-color: #111111;
    // background-color: white;
    color: #FFFFFF;

}


#uncoming-this-mounth {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) {
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        padding-left: 32px;
        padding-right: 32px;
    }
}

.meta-left{
    display: flex;
   margin-bottom: 12px;
}
.meta-right{
    display: flex;

}

.meta-div {
    margin-left: auto;
        margin-right: auto;
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;

    }

    @media screen and (min-width: 1200px) {
        display: block;

    }

}

.meta-items-div {
max-width: 280px;
    @media screen and (min-width: 768px) {
       max-width: 625px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 16px;
        max-width: 390px;
    }

}

.muvie-meta-left-criterions{
    margin-right: 58px ;
}

.muvie-meta-right-criterions {
    margin-right: 78px;
}



.muvie-meta-item {
    font-style: normal;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
    margin-bottom: 12px;
    &:last-child {
            margin-bottom: 0;
        }

}


.section-name {
    margin-left: auto;
        margin-right: auto;
    padding-left: 20px;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-transform: uppercase;
    color: #FFFFFF;

    @media screen and (min-width: 768px) {
        padding-left: 32px;
        font-size: 24px;
        line-height: 1.17;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 28px;
        font-size: 28px;
         line-height: 1.18;
        
        
    }
}



.muvie-image-backdrop{
    
        
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
     max-width: 704px;
      height: 400px;
        margin-bottom: 32px;
    }

    @media screen and (min-width: 1200px) {
    max-width: 805px;
     height: 458px;
    }
}

.muvie-image-poster{

    max-width: 280px;
        height: 402px;
        margin-bottom: 24px;
        @media screen and (min-width: 768px) {
                display: none;
        
            }
}

.muvie-name {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
        line-height: 1.15;
        margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        margin-bottom: 24px;
        font-size: 28px;
        line-height: 1.18;
    }

    @media screen and (min-width: 1200px) {
    font-size: 32px;
    line-height: 1.19;
    margin-bottom: 28px;
    }
}
.description{
    margin-top: 16px;
    color: #F8F8F8;
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4;
   
}
.about{
    text-transform: uppercase;
}

.muvie-description-item{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #B7B7B7;
   
}

.criterion {
    color: #B7B7B7;
    
}

.date-number{
    color: #F87719;
    text-transform: uppercase;
}

.vote-numbers{
    font-size: 14px;
    line-height: 1.14;
    padding: 1px 8px;
        border-radius: 5px;
        background-color: #FFFFFF;
        color: #111111;
}
.slash{
    margin-left: 4px;
    margin-right: 4px;

}

.remind-btn{
    background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
    color: #111111;
    border-radius: 74px;
    padding: 12px 24px;
    gap: 10px;
    border: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-box 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: padding-box 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus{
            padding: 11px 23px;
            color: #FFFFFF;
            background:linear-gradient(#111111,#111111) padding-box,
            linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%) border-box;
            border: 1px solid;
            border-color: transparent;
            border-radius: 74px;

        }
}





.nameing-white {
    color: #111111;
}

.texting-white {
    color: #282828;
}


.vote-numbers-white{
    font-size: 14px;
        line-height: 1.14;
        padding: 1px 8px;
        border-radius: 5px; 
        color: #282828;
        background-color: #F8F8F8;
}

.remind-btn-white {
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: border-box 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: padding-box 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
    &:focus {
        padding: 11px 23px;
        color: #F87719;
        background: linear-gradient(white, white) padding-box,
            linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%) border-box;
        border: 1px solid;
        border-color: transparent;
        border-radius: 74px;

    }
}

